<div class="flex justify-content-between bg-primary align-items-center">
    <h1 class="p-2 pl-4 text-5xl cursor-pointer" (click)="home()">Sc0pe for Sn1per</h1>
    <img src="../../assets/Barrett_.50cal_CoD4.webp" alt="sniper_scope">
</div>
<div class="p-2">
    <h2>Current Scan: {{scan}}</h2>
    <p-accordion class="m-4" [multiple]="true">
        <p-accordionTab header="Summary" [selected]="true">
            <p-table [value]="summary" styleClass="p-datatable-sm p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th>IP/Domain</th>
                        <th>Open Ports</th>
                        <th>Title</th>
                        <th>Server</th>
                        <th>Status</th>
                        <th>Fingerprint</th>
                        <th>Risk</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-o>
                    <tr>
                        <td>{{o.domain}}</td>
                        <td>{{o.ports.join(' ')}}</td>
                        <td>{{o.title}}</td>
                        <td>{{o.server}}</td>
                        <td>{{o.status}}</td>
                        <td>{{o.fingerprint}}</td>
                        <td>{{o.risk}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Controls" [selected]="true">
            <div class="flex h-20rem">
                <div class="w-15rem flex flex-column justify-content-between">
                    <div class="flex flex-column">
                        <button pRipple pButton label="Execute" icon="pi pi-play" class="p-button-rounded m-2"
                            (click)="execute()"></button>
                        <button pRipple pButton label="Edit" icon="pi pi-pencil" class="p-button-rounded p-button-info m-2"
                            (click)="editScan()"></button>
                        <button pRipple pButton label="Delete" icon="pi pi-trash" class="p-button-rounded p-button-danger m-2"
                            (click)="deleteScan()"></button>
                    </div>
                    <div class="flex flex-column">
                        <button pRipple pButton label="Edit Configurations" icon="pi pi-pencil" 
                            class="p-button-rounded p-button-secondary p-button-outlined m-2" (click)="config()"></button>
                    </div>
                </div>
                <div id="term" class="w-full h-full relative">
                    <app-terminal [scan]="scan"></app-terminal>
                    <button pRipple pButton class="absolute top-0 right-0 p-button-secondary p-button-lg m-2"
                        icon="pi pi-window-maximize" (click)="terminal()" pTooltip="Fullscreen" tooltipPosition="left"></button>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Scan History">
            <p-table [value]="history" styleClass="p-datatable-sm p-datatable-striped" [scrollable]="true" 
                scrollHeight="250px" [resizableColumns]="true" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn>IP/Domain</th>
                        <th pResizableColumn>Mode</th>
                        <th pSortableColumn="2" pResizableColumn>Date<p-sortIcon field="2"></p-sortIcon></th>
                        <th pSortableColumn="3" pResizableColumn>Time<p-sortIcon field="3"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-h>
                    <tr>
                        <td>{{h[0]}}</td>
                        <td>{{h[1]}}</td>
                        <td>{{h[2]}}</td>
                        <td>{{h[3]}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Results" [selected]="true">
            <p-accordion [multiple]="true">
                <p-accordionTab *ngFor="let ip of outputDomain" [selected]="true">
                    <ng-template pTemplate="header">
                        <h2>Host: {{ip}}</h2>
                    </ng-template>
                    <div class="ml-4">
                        <p-accordion [multiple]="true">
                            <p-accordionTab *ngFor="let item of getObjectKeys(output[ip])" [selected]="!isEmptyObject(output[ip][item])">
                                <ng-template pTemplate="header" class="h-1rem">
                                    <h3>{{item}}</h3>
                                </ng-template>
                                <p-fieldset [legend]="subItem" [toggleable]="true" *ngFor="let subItem of getObjectKeys(output[ip][item])">
                                    <pre class="surface-100 border-round p-4 overflow-auto">{{objectToDisplay(output[ip][item][subItem])}}</pre>
                                </p-fieldset>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="General" [selected]="true">
                    <p-accordion [multiple]="true">
                        <p-accordionTab *ngFor="let item of outputGeneral" [selected]="!isEmptyObject(output[item])">
                            <ng-template pTemplate="header">
                                <h3>{{item}}</h3>
                            </ng-template>
                            <div *ngFor="let subItem of getObjectKeys(output[item])">
                                <p-fieldset [legend]="subItem" [toggleable]="true" *ngIf="isList(output[item][subItem]); else elseBlock">
                                    <pre class="surface-100 border-round p-4">{{objectToDisplay(output[item][subItem])}}</pre>
                                </p-fieldset>
                                <ng-template #elseBlock>
                                    <pre>{{subItem}}: {{objectToDisplay(output[item][subItem])}}</pre>
                                </ng-template>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </p-accordionTab>
            </p-accordion>
        </p-accordionTab>
    </p-accordion>
</div>

<p-confirmDialog #cda header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="p-button-text p-button-sm" icon="pi pi-times" label="No" (click)="cda.reject()"></button>
        <button type="button" pButton class="p-button-sm" icon="pi pi-check" label="Yes" (click)="cda.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-dialog [(visible)]="visible" [modal]="true" [closeOnEscape]="true">
    <ng-template pTemplate="header">
        <h2 class="text-primary m-2 mb-4">Edit Scan</h2>
    </ng-template>
    <div class="surface-50 p-2 mt-4">
        <div class="p-fluid grid">
            <div class="field col">
                <span class="p-float-label">
                    <p-dropdown [options]="scanTypes" [(ngModel)]="scanObj.type" [autoDisplayFirst]="false"
                        optionLabel="name" inputId="scanType" optionValue="n" appendTo="body"></p-dropdown>
                    <label for="scanType">Scan Type</label>
                </span>
                <small class="p-error" *ngIf="submitted && invalidScanType">Scan Type is required.</small>
            </div>
            <div class="field col">
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="scanObj.ip"/>
                    <label for="scanType">IP / Domain</label>
                </span>
                <small class="p-error" *ngIf="submitted && invalidIpDomain">IP or Domain is required.</small>
            </div>
            <div class="field col">
                <span class="p-float-label">
                    <p-inputNumber [(ngModel)]="scanObj.p" [min]="1" [max]="65535"></p-inputNumber>
                    <label for="scanType">Port</label>
                </span>
                <small class="p-error" *ngIf="submitted && invalidPort">Port is required.</small>
            </div>
            <div class="field col">
                <span class="p-float-label">
                    <p-dropdown [options]="scheduleTypes" [(ngModel)]="scanObj.sch" [autoDisplayFirst]="false"
                        optionLabel="name" inputId="scanType" optionValue="n" [showClear]="true" appendTo="body"
                        ></p-dropdown>
                    <label for="scanType">Schedule</label>
                </span>
            </div>
            <div class="field col">
                <span class="p-float-label">
                    <p-dropdown [options]="configs" [(ngModel)]="scanObj.config" [autoDisplayFirst]="false"
                        inputId="config" [showClear]="true" appendTo="body"
                        ></p-dropdown>
                    <label for="config">Configuration</label>
                </span>
            </div>
        </div>
        <div class="flex">
            <div class="field-checkbox mr-4">
                <p-checkbox [(ngModel)]="scanObj.fp" [binary]="true" inputId="fp"></p-checkbox>
                <label for="fp">Full Port Scan</label>
            </div>
            <div class="field-checkbox mr-4">
                <p-checkbox [(ngModel)]="scanObj.b" [binary]="true" inputId="b"></p-checkbox>
                <label for="b">Brute Force</label>
            </div>
            <div class="field-checkbox mr-4">
                <p-checkbox [(ngModel)]="scanObj.o" [binary]="true" inputId="o"></p-checkbox>
                <label for="o">OSINT</label>
            </div>
            <div class="field-checkbox mr-4">
                <p-checkbox [(ngModel)]="scanObj.r" [binary]="true" inputId="re"></p-checkbox>
                <label for="re">Recon</label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Cancel" class="p-button-danger p-button-outlined mr-2" (click)="visible=false"></button>
        <button pButton pRipple type="button" label="Update" (click)="updateScan()"></button>
    </ng-template>
</p-dialog>

<p-scrollTop></p-scrollTop>
