img {
    aspect-ratio: initial;
    height: 4rem;
}

#term {
    button {
        opacity: 0;
        transition: opacity .4s ease-out;
    }
}

#term:hover {
    button {
        opacity: 1;
    }
}
