img {
    aspect-ratio: initial;
    height: 4rem;
}

#term {
    button {
        opacity: 0;
        transition: opacity .4s ease-out;
    }
}

#term:hover {
    button {
        opacity: 1;
    }
}

h3, h4 {
    font-family: 'Smooch Sans';
    font-weight: 300;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}
