<div class="flex justify-content-between bg-primary align-items-center">
    <h1 class="p-2 pl-4 text-5xl">
        <img src="../../assets/sn1per.png" alt="sn1per_logo" style="height: 40px;"> Sc0pe for Sn1per</h1>
    <img src="../../assets/Barrett_.50cal_CoD4.webp" alt="sniper_scope">
</div>
<p-tabView [(activeIndex)]="index">
    <p-tabPanel header="Scans" leftIcon="pi pi-search">
        <app-scans [configs]="configs"></app-scans>
    </p-tabPanel>
    <p-tabPanel header="Config editor" leftIcon="pi pi-pencil">
        <app-configs (configsEvent)="getConfigs($event)"></app-configs>
    </p-tabPanel>
</p-tabView>
