<div class="p-2">
    <h2 class="text-primary m-2">Scans</h2>
    <p-table [value]="scans" styleClass="p-datatable-striped" [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>Name</th>
                <th pResizableColumn class="w-15rem">Controls</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scan>
            <tr>
                <td> <i class="pi pi-spin pi-spinner" *ngIf="scanStatus[scan]"></i> {{scan}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-play" pTooltip="Run scan" tooltipPosition="top"
                        class="p-button-rounded mr-2" (click)="runScan(scan)" [disabled]="scanStatus[scan]"></button>
                    <button pButton pRipple icon="pi pi-eye" pTooltip="View scan logs" tooltipPosition="top"
                        class="p-button-rounded p-button-secondary mr-2" (click)="viewScan(scan)"></button>
                    <button pButton pRipple icon="pi pi-trash" pTooltip="Delete this scan and its results" tooltipPosition="top"
                        class="p-button-rounded p-button-danger mr-2" (click)="deleteScan(scan)" [disabled]="scanStatus[scan]"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="surface-50 p-2">
    <h2 class="text-primary m-2 mb-4">New Scan</h2>
    <div class="p-fluid grid">
        <div class="field col">
            <span class="p-float-label">
                <p-dropdown [options]="scanTypes" [(ngModel)]="selectedScanType" [autoDisplayFirst]="false"
                    optionLabel="name" inputId="scanType" optionValue="n"></p-dropdown>
                <label for="scanType">Scan Type</label>
            </span>
            <small class="p-error" *ngIf="submitted && invalidScanType">Scan Type is required.</small>
        </div>
        <div class="field col">
            <span class="p-float-label">
                <input type="text" pInputText [(ngModel)]="ipDomain"/>
                <label for="scanType">IP / Domain</label>
            </span>
            <small class="p-error" *ngIf="submitted && invalidIpDomain">IP or Domain is required.</small>
        </div>
        <div class="field col">
            <span class="p-float-label">
                <p-inputNumber [(ngModel)]="port" [min]="1" [max]="65535"></p-inputNumber>
                <label for="scanType">Port</label>
            </span>
            <small class="p-error" *ngIf="submitted && invalidPort">Port is required.</small>
        </div>
        <div class="field col">
            <span class="p-float-label">
                <p-dropdown [options]="scheduleTypes" [(ngModel)]="selectedScheduleType" [autoDisplayFirst]="false"
                    optionLabel="name" inputId="scanType" optionValue="n" [showClear]="true"
                    ></p-dropdown>
                <label for="scanType">Schedule</label>
            </span>
        </div>
        <div class="field col">
            <span class="p-float-label">
                <p-dropdown [options]="configs" [(ngModel)]="selectedConfig" [autoDisplayFirst]="false"
                    inputId="config" [showClear]="true"
                    ></p-dropdown>
                <label for="config">Configuration</label>
            </span>
        </div>
        <div class="field col">
            <span class="p-float-label">
                <input type="text" pInputText [(ngModel)]="scanName"/>
                <label for="scanType">Scan Name</label>
            </span>
            <small class="p-error" *ngIf="submitted && invalidScanName">Scan Name is required and MUST be unique.</small>
        </div>
    </div>
    <div class="flex">
        <div class="field-checkbox mr-4">
            <p-checkbox [(ngModel)]="fp" [binary]="true" inputId="fp"></p-checkbox>
            <label for="fp">Full Port Scan</label>
        </div>
        <div class="field-checkbox mr-4">
            <p-checkbox [(ngModel)]="b" [binary]="true" inputId="b"></p-checkbox>
            <label for="b">Brute Force</label>
        </div>
        <div class="field-checkbox mr-4">
            <p-checkbox [(ngModel)]="o" [binary]="true" inputId="o"></p-checkbox>
            <label for="o">OSINT</label>
        </div>
        <div class="field-checkbox mr-4">
            <p-checkbox [(ngModel)]="r" [binary]="true" inputId="re"></p-checkbox>
            <label for="re">Recon</label>
        </div>
    </div>
    <div class="flex">
        <button pButton pRipple type="button" label="Create" (click)="createScan()"></button>
        <button pButton pRipple type="button" label="Create and Run" class="p-button-secondary ml-2" (click)="createScan(true)"></button>
    </div>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="p-button-text p-button-sm" icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="p-button-sm" icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
