/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

html{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, .p-accordion-header-text {
    font-family: 'Smooch Sans';
    font-weight: 300;
    font-size: 2em;
}
